In [1]:
"""
Central Tendency for Housing Data
In this project, you will find the mean, median, and mode cost of one-bedroom apartments in three of the five New York City boroughs: Brooklyn, Manhattan, and Queens.

Using your findings, you will make conclusions about the cost of living in each of the boroughs. We will also discuss an important assumption that we make when we point out differences between the boroughs.

We worked with Streeteasy.com to collect this data. While we will only focus on the cost of one-bedroom apartments, the dataset includes a lot more information if youâ€™re interested in asking your own questions about the Brooklyn, Manhattan, and Queens housing market.
"""

In [2]:
# Import packages
import pandas as pd
import numpy as np
from scipy import stats

In [16]:
# Read in housing data
brooklyn_one_bed = pd.read_csv("brooklyn-one-bed.csv")
brooklyn_one_bed.head(3)
brooklyn_price = brooklyn_one_bed[["rent"]]

manhattan_one_bed = pd.read_csv("manhattan-one-bed.csv")
manhattan_one_bed.head(3)
manhattan_price = manhattan_one_bed[["rent"]]

queens_one_bed = pd.read_csv("queens-one-bed.csv")
queens_one_bed.head(3)
queens_price = queens_one_bed[["rent"]]

### Find the Mean of Prices ###

In [73]:

# Find the average value of one-bedroom apartments in Brooklyn and save the value to brooklyn_mean.
brooklyn_mean = brooklyn_price.mean()[0].round()
brooklyn_mean

3327.0

In [59]:
# Find the average value of one-bedroom apartments in Manhattan and save the value to manhattan_mean.
manhattan_mean = manhattan_price.mean()[0].round()
manhattan_mean

3993.0

In [60]:
# Find the average value of one-bedroom apartments in Queens and save the value to queens_mean.
queens_mean =queens_price.mean()[0].round()
queens_mean

2346.0

### Find the Median of Prices ###

In [61]:
brooklyn_median = brooklyn_price.median()[0]
brooklyn_median

3000.0

In [62]:
manhattan_median = manhattan_price.median()[0]
manhattan_median

3800.0

In [63]:
queens_median = queens_price.median()[0]
queens_median

2200.0

### Find the Mode of Prices ###

In [65]:
brooklyn_mode = brooklyn_price.mode()["rent"][0]
brooklyn_mode

2500

In [66]:
manhattan_mode = manhattan_price.mode()["rent"][0]
manhattan_mode

3500

In [67]:
queens_mode = queens_price.mode()["rent"][0]
queens_mode

1750

In [75]:
# What does our data tell us?
print("Manhattan: ", "mean: {}, median: {}, mode: {}".format(manhattan_mean, manhattan_median, manhattan_mode))
print("Brooklyn: ", "mean: {}, median: {}, mode: {}".format(brooklyn_mean, brooklyn_median, brooklyn_mode))
print("Queens: ", "mean: {}, median: {}, mode: {}".format(queens_mean, queens_median, queens_mode))

"""
It looks like the average cost of one-bedroom apartments in Manhattan is the most, and in Queens is the least. This pattern holds for the median and mode values as well.

While the mode is not the most important indicator of centrality, the fact that mean, median, and mode are within a few hundred dollars for each borough indicates the data is centered around:

$3,300 for Brooklyn
$3,900 for Manhattan
$2,300 for Queens
"""

Manhattan:  mean: 3993.0, median: 3800.0, mode: 3500
Brooklyn:  mean: 3327.0, median: 3000.0, mode: 2500
Queens:  mean: 2346.0, median: 2200.0, mode: 1750