In [68]:
# Import pandas with alias
import pandas as pd

In [25]:
# Import dataset as a Pandas dataframe
movies = pd.read_csv("netflix_movies.csv", index_col=0) # if you don't want to see auto index numbers, index_col=0

In [30]:
# View the first five rows of the dataframe
print(movies.head())

            type                  title        country  release_year rating  \
show_id
s1         Movie   Dick Johnson Is Dead  United States          2020  PG-13
s2       TV Show          Blood & Water   South Africa          2021  TV-MA
s3       TV Show              Ganglands            NaN          2021  TV-MA
s4       TV Show  Jailbirds New Orleans            NaN          2021  TV-MA
s5       TV Show           Kota Factory          India          2021  TV-MA

          duration  cast_count  est_budget (USD)
show_id
s1          90 min         NaN          11959075
s2       2 Seasons        19.0           9436627
s3        1 Season         9.0           5719277
s4        1 Season         NaN           7881417
s5       2 Seasons         8.0          27387486

In [31]:
"""
The rating variable describes the Motion Picture Association Film Rating Board rating for each film and the TV Parental Guidelines Monitoring Board rating for each television show. We have consolidated the ratings for simplicity.
Inspect the first five rows that were just printed out from the .head() method. Identify whether the rating variable is quantitative or categorical and assign the value of 'numerical' or 'categorical' to a variable called rating_variable_type.
"""
rating_variable_type = "categorical"
print(rating_variable_type)

categorical

In [32]:
"""
Print the unique values of the country column to assess its variable type.
"""
print(movies["country"].unique())

['United States' 'South Africa' nan 'India'
 'United States, Ghana, Burkina Faso, United Kingdom, Germany, Ethiopia'
 'United Kingdom' 'Germany, Czech Republic' 'Mexico' 'Turkey' 'Australia'
 'United States, India, France' 'Finland' 'China, Canada, United States'
 'South Africa, United States, Japan' 'Nigeria' 'Japan'
 'Spain, United States' 'France' 'Belgium' 'United Kingdom, United States'
 'United States, United Kingdom' 'France, United States' 'South Korea'
 'Spain' 'United States, Singapore' 'United Kingdom, Australia, France'
 'United Kingdom, Australia, France, United States'
 'United States, Canada' 'Germany, United States'
 'South Africa, United States' 'United States, Mexico'
 'United States, Italy, France, Japan'
 'United States, Italy, Romania, United Kingdom'
 'Australia, United States' 'Argentina, Venezuela'
 'United States, United Kingdom, Canada' 'China, Hong Kong' 'Russia'
 'Canada' 'Hong Kong' 'United States, China, Hong Kong'
 'Italy, United States' 'United States, Germany'
 'United Kingdom, Canada, United States' ', South Korea' 'Ireland'
 'India, Nepal' 'New Zealand, Australia, France, United States' 'Italy'
 'Italy, Brazil, Greece' 'Argentina' 'Jordan' 'Colombia'
 'United States, Japan' 'Belgium, United Kingdom'
 'Switzerland, United Kingdom, Australia' 'Israel, United States'
 'Canada, United States' 'Brazil' 'Argentina, Spain' 'Taiwan'
 'United States, Nigeria' 'Bulgaria, United States'
 'Spain, United Kingdom, United States' 'United States, China'
 'United States, France' 'Spain, France, United Kingdom, United States'
 ', France, Algeria' 'Poland' 'Germany'
 'France, Israel, Germany, United States, United Kingdom' 'New Zealand'
 'Saudi Arabia' 'Thailand' 'Indonesia' 'Egypt, Denmark, Germany'
 'United States, Switzerland' 'Hong Kong, Canada, United States'
 'Kuwait, United States' 'France, Canada, United States, Spain'
 'France, Netherlands, Singapore' 'France, Belgium'
 'Ireland, United States, United Kingdom' 'Egypt' 'Malaysia' 'Israel'
 'Australia, New Zealand' 'United Kingdom, Germany' 'Belgium, Netherlands'
 'South Korea, Czech Republic' 'Australia, Germany' 'Vietnam'
 'United Kingdom, Belgium' 'United Kingdom, Australia, United States'
 'France, Japan, United States'
 'United Kingdom, Germany, Spain, United States'
 'United Kingdom, United States, France, Italy'
 'United States, Germany, Canada'
 'United States, France, Italy, United Kingdom'
 'United States, United Kingdom, Germany, Hungary'
 'United States, New Zealand' 'Sweden' 'China' 'Lebanon' 'Romania'
 'Finland, Germany' 'Lebanon, Syria' 'Philippines' 'Iceland' 'Denmark'
 'United States, India' 'Philippines, Singapore, Indonesia'
 'China, United States, Canada' 'Lebanon, United Arab Emirates'
 'Canada, United States, Denmark' 'United Arab Emirates'
 'Mexico, France, Colombia' 'Netherlands' 'Germany, United States, France'
 'United States, Bulgaria'
 'United Kingdom, France, Germany, United States' 'Norway, Denmark'
 'Syria, France, Lebanon, Qatar' 'United States, Czech Republic'
 'Mauritius' 'Canada, South Africa' 'Austria' 'Mexico, Brazil'
 'Germany, France' 'Mexico, United States'
 'United Kingdom, France, Spain, United States' 'United States, Australia'
 'United States, United Kingdom, France' 'United States, Russia'
 'United States, United Kingdom, New Zealand' 'Australia, United Kingdom'
 'Canada, Nigeria, United States'
 'France, United States, United Kingdom, Canada' 'France, United Kingdom'
 'India, United Kingdom' 'Canada, United States, Mexico'
 'United Kingdom, Germany, United States'
 'Czech Republic, United Kingdom, United States' 'China, United Kingdom'
 'Italy, United Kingdom' 'China, Taiwan'
 'United States, Brazil, Japan, Spain, India'
 'United States, China, United Kingdom' 'Cameroon'
 'Lebanon, Palestine, Denmark, Qatar' 'Japan, United States'
 'Uruguay, Germany' 'Egypt, Saudi Arabia'
 'United Kingdom, France, Poland, Germany, United States'
 'Ireland, Switzerland, United Kingdom, France, United States'
 'United Kingdom, South Africa, France'
 'Ireland, United Kingdom, France, Germany' 'Russia, United States'
 'United Kingdom, United States, France' 'United Kingdom,'
 'United States, India, United Kingdom' 'Kenya' 'Spain, Argentina'
 'India, United Kingdom, France, Qatar' 'Belgium, France'
 'Argentina, Chile' 'United States, Thailand' 'Chile, Brazil'
 'United States, Colombia' 'Canada, United States, United Kingdom'
 'Uruguay' 'Luxembourg' 'United States, Cambodia, Romania' 'Bangladesh'
 'Spain, Belgium, United States'
 'United Kingdom, United States, Australia'
 'Canada, United States, France' 'Portugal, United States'
 'Portugal, Spain' 'India, United States' 'United Kingdom, Ireland'
 'United Kingdom, Spain, United States' 'Hungary, United States'
 'United States, South Korea' 'Canada, United States, Cayman Islands'
 'India, France' 'France, Canada' 'Canada, Hungary, United States'
 'Norway' 'Canada, United Kingdom, United States'
 'United Kingdom, Germany, France, United States' 'Denmark, United States'
 'Senegal' 'France, Algeria'
 'United Kingdom, Finland, Germany, United States, Australia, Japan, France, Ireland'
 'Philippines, Canada, United Kingdom, United States'
 'Ireland, France, Iceland, United States, Mexico, Belgium, United Kingdom, Hong Kong'
 'Singapore' 'Kuwait' 'United States, France, Serbia'
 'United States, Italy' 'Spain, Italy'
 'United States, Ireland, United Kingdom, India'
 'United Kingdom, Singapore' 'Hong Kong, United States'
 'United States, Malta, France, United Kingdom'
 'United States, China, Canada' 'Canada, United States, Ireland'
 'Lebanon, Canada, France' 'Japan, Canada, United States'
 'Spain, France, Canada' 'Denmark, Singapore, Canada, United States'
 'United States, France, Denmark' 'United States, China, Colombia'
 'Spain, Thailand, United States' 'Mexico, Spain'
 'Ireland, Luxembourg, Belgium' 'China, United States' 'Canada, Belgium'
 'Canada, United Kingdom'
 'Lebanon, United Arab Emirates, France, Switzerland, Germany'
 'France, Belgium, Italy' 'Lebanon, United States, United Arab Emirates'
 'Lebanon, France' 'France, Lebanon' 'France, Lebanon, United Kingdom'
 'France, Norway, Lebanon, Belgium'
 'Sweden, Czech Republic, United Kingdom, Denmark, Netherlands'
 'United States, United Kingdom, India' 'Indonesia, Netherlands'
 'Turkey, South Korea' 'Serbia, United States' 'Namibia'
 'United Kingdom, Kenya' 'United Kingdom, France, Germany, Spain'
 'United Kingdom, France, United States, Belgium, Luxembourg, China, Germany'
 'Thailand, United States' 'United States, France, Canada, Belgium'
 'United Kingdom, China' 'Germany, China, United Kingdom'
 'Australia, New Zealand, United States'
 'Hong Kong, Iceland, United States' 'France, Australia, Germany'
 'United States, Belgium, Canada, France' 'South Africa, Angola'
 'United States, Philippines'
 'United States, United Kingdom, Canada, China'
 'United States, Canada, United Kingdom' 'Turkey, United States'
 'Peru, Germany, Norway' 'Mozambique' 'Brazil, France'
 'China, Spain, South Korea, United States' 'Spain, Germany'
 'Hong Kong, China' 'France, Belgium, Luxembourg, Cambodia,'
 'United Kingdom, Australia' 'Belarus' 'Indonesia, United Kingdom'
 'Switzerland, France, Belgium, United States' 'Ghana'
 'Spain, France, Canada, United States' 'Chile, Italy'
 'United Kingdom, Nigeria' 'Chile' 'France, Egypt' 'Egypt, France'
 'France, Brazil, Spain, Belgium' 'Egypt, Algeria'
 'Canada, South Korea, United States' 'Nigeria, United Kingdom'
 'United States, France, Canada' 'Poland, United States'
 'United Arab Emirates, Jordan, Lebanon, Saudi Arabia'
 'United States, Mexico, Spain, Malta'
 'Saudi Arabia, United Arab Emirates' 'Zimbabwe'
 'United Kingdom, Germany, United Arab Emirates, New Zealand'
 'Romania, United States' 'Canada, Nigeria'
 'Saudi Arabia, Netherlands, Germany, Jordan, United Arab Emirates, United States'
 'United Kingdom, Spain' 'Finland, France'
 'United Kingdom, Germany, United States, France'
 'India, United Kingdom, China, Canada, Japan, South Korea, United States'
 'Italy, United Kingdom, France' 'United States, Mexico, Colombia'
 'Turkey, India' 'Italy, Turkey' 'United Kingdom, United States, Japan'
 'France, Belgium, United States' 'Puerto Rico, United States, Colombia'
 'Uruguay, Argentina' 'United States, United Kingdom, Japan'
 'United States, Argentina' 'United Kingdom, Italy'
 'Ireland, United Kingdom'
 'United Kingdom, France, Belgium, Canada, United States'
 'Netherlands, Germany, Denmark, United Kingdom' 'Hungary'
 'Austria, Germany' 'Taiwan, China'
 'United Kingdom, United States, Ireland' 'South Korea, United States'
 'Brazil, United Kingdom' 'Pakistan, United States'
 'Romania, France, Switzerland, Germany' 'Romania, United Kingdom'
 'France, Malta, United States' 'Cyprus'
 'United Kingdom, France, Belgium, Ireland, United States'
 'United States, Norway, Canada' 'Kenya, United States'
 'France, South Korea, Japan, United States' 'Taiwan, Malaysia'
 'Uruguay, Argentina, Germany, Spain'
 'United States, United Kingdom, France, Germany, Japan'
 'United States, France, Japan' 'United Kingdom, France, United States'
 'Spain, France, United States' 'Indonesia, South Korea, Singapore'
 'United States, Spain' 'Netherlands, Germany, Italy, Canada'
 'Spain, Germany, Denmark, United States' 'Norway, Sweden'
 'South Korea, Canada, United States, China' 'Argentina, Uruguay, Serbia'
 'France, Japan' 'Mauritius, South Africa' 'United States, Poland'
 'United Kingdom, United States, Germany, Denmark, Belgium, Japan'
 'India, Germany' 'India, United Kingdom, Canada, United States'
 'Philippines, United States' 'Romania, Bulgaria, Hungary'
 'Uruguay, Guatemala' 'France, Senegal, Belgium' 'United Kingdom, Canada'
 'Mexico, United States, Spain, Colombia' 'Canada, Norway'
 'Singapore, United States' 'Finland, Germany, Belgium'
 'United Kingdom, France' 'United States, Chile'
 'United Kingdom, Japan, United States' 'Spain, United Kingdom'
 'Argentina, United States, Mexico' 'United States, South Korea, Japan'
 'Canada, Australia' 'United Kingdom, Hungary, Australia' 'Italy, Belgium'
 'United States, United Kingdom, Germany' 'Switzerland'
 'Singapore, Malaysia'
 'France, Belgium, Luxembourg, Romania, Canada, United States'
 'South Africa, Nigeria' 'Spain, France' 'United Kingdom, Hong Kong'
 'Pakistan' 'Brazil, United States'
 'Denmark, Brazil, France, Portugal, Sweden' 'India, Turkey'
 'Malaysia, Singapore, Hong Kong' 'Philippines, Singapore'
 'Australia, Canada' 'Taiwan, China, France, United States'
 'Germany, Italy' 'Colombia, Peru, United Kingdom'
 'Thailand, China, United States' 'Argentina, United States'
 'Sweden, United States' 'Uruguay, Spain, Mexico'
 'France, Luxembourg, Canada' 'Denmark, Spain' 'Chile, Argentina'
 'United Kingdom, Belgium, Sweden' 'Canada, Brazil' 'Italy, France'
 'Canada, Germany' 'Pakistan, United Arab Emirates' 'Ghana, United States'
 'Mexico, Finland' 'United Arab Emirates, United Kingdom, India'
 'Netherlands, Belgium' 'United States, Taiwan'
 'Austria, Iraq, United States' 'United Kingdom, Malawi'
 'Paraguay, Argentina' 'United Kingdom, Russia, United States'
 'India, Pakistan' 'Indonesia, Singapore' 'Spain, Belgium'
 'Iceland, Sweden, Belgium' 'Croatia' 'Uruguay, Argentina, Spain'
 'United Kingdom, Ireland, United States'
 'Canada, Germany, France, United States' 'United Kingdom, Japan'
 'Norway, Denmark, Netherlands, Sweden' 'Hong Kong, China, United States'
 'Ireland, Canada' 'Italy, Switzerland, France, Germany'
 'Mexico, Netherlands' 'United States, Sweden' 'Germany, France, Russia'
 'France, Iran, United States' 'United Kingdom, India'
 'Russia, Poland, Serbia' 'Spain, Portugal' 'Peru' 'Mexico, Argentina'
 'United Kingdom, Canada, United States, Cayman Islands'
 'Indonesia, United States'
 'United States, Israel, United Kingdom, Canada'
 'Norway, Iceland, United States' 'Czech Republic, United States'
 'United Kingdom, India, United States' 'United Kingdom, West Germany'
 'India, Australia' 'United States,'
 'Belgium, United Kingdom, United States' 'India, Germany, Austria'
 'United States, Brazil, South Korea, Mexico, Japan, Germany'
 'Spain, Mexico' 'China, Japan' 'Argentina, France'
 'China, United States, United Kingdom'
 'France, Luxembourg, United States' 'China, United States, Australia'
 'Colombia, Mexico' 'United States, Canada, Ireland' 'Chile, Peru'
 'Argentina, Italy' 'Canada, Japan, United States'
 'United Kingdom, Canada, United States, Germany'
 'Italy, Switzerland, Albania, Poland' 'United States, Japan, Canada'
 'Cambodia' 'Italy, United States, Argentina'
 'Saudi Arabia, Syria, Egypt, Lebanon, Kuwait'
 'United States, Canada, Indonesia, United Kingdom, China, Singapore'
 'Spain, Colombia'
 'United Kingdom, South Africa, Australia, United States' 'Bulgaria'
 'Argentina, Brazil, France, Poland, Germany, Denmark'
 'United Kingdom, Spain, United States, Germany' 'Philippines, Qatar'
 'Netherlands, Belgium, Germany, Jordan'
 'United Arab Emirates, United States' 'Norway, Germany, Sweden'
 'South Korea, China' 'Georgia' 'Soviet Union, India'
 'Australia, United Arab Emirates' 'Canada, Germany, South Africa'
 'South Korea, China, United States' 'India, Soviet Union' 'India, Mexico'
 'Georgia, Germany, France' 'United Arab Emirates, Romania'
 'India, Malaysia' 'Germany, Jordan, Netherlands'
 'Turkey, France, Germany, Poland' 'Greece, United States'
 'France, United Kingdom, United States' 'Norway, Germany'
 'France, Morocco' 'Cambodia, United States' 'United States, Denmark'
 'United States, Colombia, Mexico'
 'United Kingdom, Italy, Israel, Peru, United States'
 'Argentina, Uruguay, Spain, France'
 'United Kingdom, France, United States, Belgium'
 'France, Canada, China, Cambodia'
 'United Kingdom, France, Belgium, United States' 'Chile, France'
 'Netherlands, United States' 'France, United Kingdom, India'
 'Czech Republic, Slovakia' 'Singapore, France' 'Spain, Switzerland'
 'United States, Australia, China' 'South Africa, United States, Germany'
 'United States, United Kingdom, Australia' 'Spain, Italy, Argentina'
 'Chile, Spain, Argentina, Germany' 'West Germany'
 'Austria, Czech Republic' 'Lebanon, Qatar'
 'United Kingdom, Jordan, Qatar, Iran' 'France, South Korea, Japan'
 'Israel, Germany, France' 'Canada, Japan, Netherlands'
 'United States, Hungary' 'France, Germany' 'France, Qatar'
 'United Kingdom, Germany, Canada' 'Ireland, South Africa'
 'Chile, United States, France' 'Belgium, France, Netherlands'
 'United Kingdom, Ukraine, United States'
 'Germany, Australia, France, China' 'Norway, United States'
 'United States, Bermuda, Ecuador'
 'United States, Hungary, Ireland, Canada'
 'United Kingdom, Egypt, United States'
 'United States, France, United Kingdom' 'Spain, Mexico, France'
 'United States, South Africa' 'Hong Kong, China, Singapore'
 'South Africa, China, United States' 'Denmark, France, Poland'
 'New Zealand, United Kingdom' 'Netherlands, Denmark, South Africa'
 'Iran, France' 'United Kingdom, United States, France, Germany'
 'Australia, France' 'Ireland, United Kingdom, United States'
 'United Kingdom, France, Germany' 'Canada, Luxembourg'
 'Brazil, Netherlands, United States, Colombia, Austria, Germany'
 'France, Canada, Belgium' 'Canada, France'
 'Bulgaria, United States, Spain, Canada' 'Sweden, Netherlands'
 'France, United States, Mexico'
 'Australia, United Kingdom, United Arab Emirates, Canada'
 'Australia, Armenia, Japan, Jordan, Mexico, Mongolia, New Zealand, Philippines, South Africa, Sweden, United States, Uruguay'
 'India, Iran' 'France, Belgium, Spain'
 'Denmark, Sweden, Israel, United States' 'United States, Iceland'
 'United Kingdom, Russia' 'United States, Israel, Italy, South Africa'
 'Netherlands, Denmark, France, Germany' 'South Korea, Japan'
 'United Kingdom, Pakistan' 'France, New Zealand'
 'United Kingdom, Czech Republic, United States, Germany, Bahamas'
 'China, Germany, India, United States' 'Germany, Sri Lanka'
 'United States, India, Bangladesh' 'United States, Canada, France'
 'Brazil, France, Germany' 'Germany, United States, Hong Kong, Singapore'
 'France, Germany, Switzerland'
 'Germany, France, Luxembourg, United Kingdom, United States'
 'United Kingdom, Canada, Italy' 'Czech Republic, France'
 'Taiwan, Hong Kong, United States, China' 'Germany, Australia'
 'United Kingdom, Poland, United States' 'Denmark, Zimbabwe'
 'United Kingdom, South Africa' 'Finland, Sweden, Norway, Latvia, Germany'
 'South Africa, United States, New Zealand, Canada'
 'United States, Italy, United Kingdom, Liechtenstein'
 'Denmark, France, Belgium, Italy, Netherlands, United States, United Kingdom'
 'United States, Australia, Mexico'
 'United Kingdom, Czech Republic, Germany, United States'
 'France, China, Japan, United States' 'United States, South Korea, China'
 'Germany, Belgium' 'Pakistan, Norway, United States'
 'United States, Canada, Belgium, United Kingdom' 'Venezuela'
 'Canada, France, Italy, Morocco, United States' 'Canada, Spain, France'
 'United States, Indonesia' 'Spain, France, Italy'
 'United Arab Emirates, United States, United Kingdom'
 'United Kingdom, Israel, Russia' 'Spain, Cuba' 'United States, Brazil'
 'United States, France, Mexico' 'United States, Nicaragua'
 'United Kingdom, United States, Spain, Germany, Greece, Canada'
 'Italy, Canada, France' 'United Kingdom, Denmark, Canada, Croatia'
 'Italy, Germany' 'United States, France, United Kingdom, Japan'
 'United States, United Kingdom, Denmark, Sweden'
 'United States, United Kingdom, Italy'
 'United States, France, Canada, Spain' 'Russia, United States, China'
 'United States, Canada, Germany' 'Ireland, United States'
 'United States, United Arab Emirates' 'United States, Ireland'
 'Ireland, United Kingdom, Italy, United States' 'Poland,'
 'Slovenia, Croatia, Germany, Czech Republic, Qatar'
 'Canada, United Kingdom, Netherlands' 'United States, Spain, Germany'
 'India, Japan' 'China, South Korea, United States'
 'United Kingdom, France, Belgium' 'Canada, Ireland, United States'
 'United Kingdom, United States, Dominican Republic'
 'United States, Senegal' 'Germany, United Kingdom, United States'
 'South Africa, Germany, Netherlands, France'
 'Canada, United States, United Kingdom, France, Luxembourg'
 'Ireland, United States, France' 'Germany, United States, Canada'
 'United Kingdom, Germany, Canada, United States'
 'United States, France, Canada, Lebanon, Qatar'
 'Netherlands, Belgium, United Kingdom, United States'
 'France, Belgium, China, United States' 'United States, Chile, Israel'
 'United Kingdom, Norway, Denmark, Germany, Sweden'
 'Norway, Denmark, Sweden' 'China, India, Nepal'
 'Colombia, Mexico, United States' 'United Kingdom, South Korea'
 'Denmark, China' 'United States, Greece, Brazil' 'South Korea, France'
 'United States, Australia, Samoa, United Kingdom'
 'Germany, United Kingdom' 'Argentina, Chile, Peru' 'Turkey, Azerbaijan'
 'Poland, West Germany' 'Germany, United States, Sweden' 'Canada, Spain'
 'United States, Cambodia' 'United States, Greece'
 'Norway, United Kingdom, France, Ireland' 'United Kingdom, Poland'
 'Israel, Sweden, Germany, Netherlands' 'Switzerland, France'
 'Italy, India' 'United States, Botswana'
 'Chile, Argentina, France, Spain, United States'
 'United States, India, South Korea, China'
 'Denmark, Germany, Belgium, United Kingdom, France'
 'Denmark, Germany, Belgium, United Kingdom, France, Sweden'
 'France, Switzerland, Spain, United States, United Arab Emirates'
 'Brazil, India, China, United States'
 'Denmark, France, United States, Sweden' 'Australia, Iraq'
 'China, Morocco, Hong Kong' 'Canada, United States, Germany'
 'United Kingdom, Thailand' 'Venezuela, Colombia'
 'Colombia, United States' 'France, Germany, Czech Republic, Belgium'
 'Switzerland, Vatican City, Italy, Germany, France'
 'Portugal, France, Poland, United States'
 'United States, New Zealand, Japan'
 'United States, Netherlands, Japan, France' 'India, Switzerland'
 'Canada, India' 'United States, Morocco' 'Singapore, Japan, France'

In [20]:
"""
Identify whether the country column is ordinal or nominal and assign the value of country_variable_type to either 'ordinal', 'nominal', or 'binary'.
"""
country_variable_type = "nominal"
print(country_variable_type)

nominal

In [22]:
"""
The release_year variable expresses the year that a movie or television show was originally released. Inspect the first five rows of the dataset that were printed, and identify whether this column is discrete or continuous. From this inspection, assign the value of release_year_variable_type to either 'discrete' or 'continuous'.
"""
release_year_variable_type = "discrete"
print(release_year_variable_type)

discrete

In [37]:
"""
The cast_count variable describes how many cast members are in the show. Inspect the first five rows of the printed dataset, and identify whether this column is discrete or continuous. From this inspection, assign the value of cast_count_variable_type to either 'discrete' or 'continuous'.
"""
print(movies.head(5))
cast_count_variable_type = "discrete"

            type                  title        country  release_year rating  \
show_id
s1         Movie   Dick Johnson Is Dead  United States          2020  PG-13
s2       TV Show          Blood & Water   South Africa          2021  TV-MA
s3       TV Show              Ganglands            NaN          2021  TV-MA
s4       TV Show  Jailbirds New Orleans            NaN          2021  TV-MA
s5       TV Show           Kota Factory          India          2021  TV-MA

          duration  cast_count  est_budget (USD)
show_id
s1          90 min         NaN          11959075
s2       2 Seasons        19.0           9436627
s3        1 Season         9.0           5719277
s4        1 Season         NaN           7881417
s5       2 Seasons         8.0          27387486

In [38]:
# to see the data types of the columns:
print(movies.dtypes)

type                 object
title                object
country              object
release_year          int64
rating               object
duration             object
cast_count          float64
est_budget (USD)      int64
dtype: object

In [41]:
"""
If a variable appears with the wrong data type, we can change it with the .astype() function.
The .astype() function can be used to convert between a numerical data types, including:
int32 int64, float32 float64, object, string, bool.

Note : However, some data types require all values to be filled in. For example, you cannot convert between a float and an int if there are any null values.
"""
movies["type"] = movies["type"].astype("string")
print(movies.dtypes)

type                 string
title                object
country              object
release_year          int64
rating               object
duration             object
cast_count          float64
est_budget (USD)      int64
dtype: object

In [43]:
"""
1. Run the code in the workspace to view the first five rows of the movies dataframe.
2. Check the data types of all the numerical variables in the movies DataFrame with .dtypes. Make sure to print the data types to the console.
Are there any mismatches between data types and variable types?
"""
print(movies.head())
print(movies.dtypes)  # Since dtype is an attribute, we used it without any parentheses.

            type                  title        country  release_year rating  \
show_id
s1         Movie   Dick Johnson Is Dead  United States          2020  PG-13
s2       TV Show          Blood & Water   South Africa          2021  TV-MA
s3       TV Show              Ganglands            NaN          2021  TV-MA
s4       TV Show  Jailbirds New Orleans            NaN          2021  TV-MA
s5       TV Show           Kota Factory          India          2021  TV-MA

          duration  cast_count  est_budget (USD)
show_id
s1          90 min         NaN          11959075
s2       2 Seasons        19.0           9436627
s3        1 Season         9.0           5719277
s4        1 Season         NaN           7881417
s5       2 Seasons         8.0          27387486
type                 string
title                object
country              object
release_year          int64
rating               object
duration             object
cast_count          float64
est_budget (USD)      int64
dtype: object

In [45]:
# This will cause an error.If we didn’t check for null values in advance, this error message might be the first time we find out that we have null values.
movies["cast_count"] = movies["cast_count"].astype("int64")

IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer

In [48]:
"""
Turns out we have to fill in the missing values. We actually don’t have a good way to know how many people are in each movie, so we will fill in the missing values with 0. We know that no movie has zero cast members, so this will logically be very odd, but will allow us to preserve the integrity of the data while converting the values.
"""
movies["cast_count"].fillna(0, inplace=True)
print(movies.head()) # check for Nan values.

            type                  title        country  release_year rating  \
show_id
s1         Movie   Dick Johnson Is Dead  United States          2020  PG-13
s2       TV Show          Blood & Water   South Africa          2021  TV-MA
s3       TV Show              Ganglands            NaN          2021  TV-MA
s4       TV Show  Jailbirds New Orleans            NaN          2021  TV-MA
s5       TV Show           Kota Factory          India          2021  TV-MA

          duration  cast_count  est_budget (USD)
show_id
s1          90 min         0.0          11959075
s2       2 Seasons        19.0           9436627
s3        1 Season         9.0           5719277
s4        1 Season         0.0           7881417
s5       2 Seasons         8.0          27387486

In [ ]:
"""
Note 1: Nominal variables are often represented by the object data type. Columns in the object data type can contain any combination of values, including strings, integers, booleans, etc. This means that string operations like .lower() are not possible on object columns.

Note 2: Nominal variables are also represented by the string data type. However, Pandas usually guesses object rather than string, so if you want a column to be a string, you will likely have to explicitly tell pandas to make it a string. This is most important if you want to do string manipulations on a column like .lower().

Note 3: Ordinal variables should be represented as objects, but pandas often guesses int since they are often encoded as whole numbers.

Note 4: Binary variables can be represented as bool, but pandas often guesses int or object data types."""

In [60]:
"""
We have a lot to change in our cereal dataset, so let’s go through them one by one.
"""
print(movies.head())
print(movies.dtypes)
movies["title"] = movies["title"].astype("string")
movies["country"] = movies["country"].astype("string")
movies["cast_count"] = movies["cast_count"].astype("int64")

            type                  title        country  release_year rating  \
show_id
s1         Movie   Dick Johnson Is Dead  United States          2020  PG-13
s2       TV Show          Blood & Water   South Africa          2021  TV-MA
s3       TV Show              Ganglands           <NA>          2021  TV-MA
s4       TV Show  Jailbirds New Orleans           <NA>          2021  TV-MA
s5       TV Show           Kota Factory          India          2021  TV-MA

          duration  cast_count  est_budget (USD)
show_id
s1          90 min           0          11959075
s2       2 Seasons          19           9436627
s3        1 Season           9           5719277
s4        1 Season           0           7881417
s5       2 Seasons           8          27387486
type                string
title               string
country             string
release_year         int64
rating              object
duration            object
cast_count           int64
est_budget (USD)     int64
dtype: object

In [67]:
"""
print the first five rows of the movies DataFrame along with the unique values of the rating column.
"""
print(movies.head())
print(movies["rating"].unique())

            type                  title        country  release_year rating  \
show_id
s1         Movie   Dick Johnson Is Dead  United States          2020  PG-13
s2       TV Show          Blood & Water   South Africa          2021  TV-MA
s3       TV Show              Ganglands           <NA>          2021  TV-MA
s4       TV Show  Jailbirds New Orleans           <NA>          2021  TV-MA
s5       TV Show           Kota Factory          India          2021  TV-MA

          duration  cast_count  est_budget (USD)
show_id
s1          90 min           0          11959075
s2       2 Seasons          19           9436627
s3        1 Season           9           5719277
s4        1 Season           0           7881417
s5       2 Seasons           8          27387486
['PG-13' 'TV-MA' 'PG' 'TV-14' 'TV-PG' 'TV-Y' 'TV-Y7' 'R' 'TV-G' 'G'
 'NC-17' '74 min' '84 min' '66 min' 'NR' nan 'TV-Y7-FV' 'UR']

In [75]:
"""
Change the data type of the rating variable to categorical. Set an order of [‘NR’, ‘G’ , ‘PG’, ‘PG-13’, ‘R’].
"""
movies["rating"] = pd.Categorical(movies["rating"], ["NR", "G", "PG", "PG-13", "R"], ordered=True)
print(movies["rating"].unique())

['PG-13', NaN, 'PG', 'R', 'G', 'NR']
Categories (5, object): ['NR' < 'G' < 'PG' < 'PG-13' < 'R']