### Import Libraries

In [1]:
import pandas as pd
import numpy as np
import random

### Create Dataset

In [6]:
data = []
date_range = pd.date_range("01/07/2020", "01/21/2020")

for i in range(len(date_range)):
    sales_cash = random.randint(1, 20)
    sales_card = random.randint(1, 20)
    
    day_type = "Weekday"
    
    if date_range[i].weekday() > 4:
        day_type = "Weekand"
    
    data.append([str(date_range[i].date()), day_type, "Cash", sales_cash])
    data.append([str(date_range[i].date()), day_type, "Card", sales_card])
    
data = pd.DataFrame(data, columns=["Date", "Day_Type", "Payment_Type", "Sales"])

In [8]:
df = data.copy()

In [14]:
df.head()

         Date Day_Type Payment_Type  Sales
0  2020-01-07  Weekday         Cash      3
1  2020-01-07  Weekday         Card     12
2  2020-01-08  Weekday         Cash     19
3  2020-01-08  Weekday         Card     10
4  2020-01-09  Weekday         Cash     11

In [10]:
type(df.rolling(window=4))

pandas.core.window.rolling.Rolling

In [11]:
data["rolling_sum_2"] = df.rolling(window=2)["Sales"].sum()

In [13]:
data.head()

         Date Day_Type Payment_Type  Sales  rolling_sum_2
0  2020-01-07  Weekday         Cash      3            NaN
1  2020-01-07  Weekday         Card     12           15.0
2  2020-01-08  Weekday         Cash     19           31.0
3  2020-01-08  Weekday         Card     10           29.0
4  2020-01-09  Weekday         Cash     11           21.0

In [15]:
data["rolling_sum_2"] = df.rolling(window=2, min_periods=1)["Sales"].sum()

In [16]:
data.head()

         Date Day_Type Payment_Type  Sales  rolling_sum_2
0  2020-01-07  Weekday         Cash      3            3.0
1  2020-01-07  Weekday         Card     12           15.0
2  2020-01-08  Weekday         Cash     19           31.0
3  2020-01-08  Weekday         Card     10           29.0
4  2020-01-09  Weekday         Cash     11           21.0